<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a57a95">  <td>20/01/08 16:10:36</td>   <td>0</td> <td title="&gt;&gt;SetUp.reportGeneration()[pri:0, instance:TestSuites.ChannelsTestSuite@551bdc27]">&gt;&gt;reportGeneration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1860250540</td>   <td></td> </tr>
<tr bgcolor="a57a95">  <td>20/01/08 16:10:37</td>   <td>254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetUp.setUp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:TestSuites.ChannelsTestSuite@551bdc27]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1860250540</td>   <td></td> </tr>
<tr bgcolor="9af799">  <td>20/01/08 16:11:03</td>   <td>26482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChannelsTestSuite.EmpCanPostC10()[pri:1, instance:TestSuites.ChannelsTestSuite@551bdc27]">EmpCanPostC10</td> 
  <td>main@1860250540</td>   <td></td> </tr>
<tr bgcolor="a57a95">  <td>20/01/08 16:11:28</td>   <td>51603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetUp.flushSetUp(org.testng.ITestResult)[pri:0, instance:TestSuites.ChannelsTestSuite@551bdc27]">&lt;&lt;flushSetUp</td> 
<td>&nbsp;</td>  <td>main@1860250540</td>   <td></td> </tr>
<tr bgcolor="a57a95">  <td>20/01/08 16:11:32</td>   <td>55400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetUp.setUp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:TestSuites.ChannelsTestSuite@551bdc27]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1860250540</td>   <td></td> </tr>
<tr bgcolor="9af799">  <td>20/01/08 16:11:56</td>   <td>80235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChannelsTestSuite.EmpCanDeleteC11()[pri:2, instance:TestSuites.ChannelsTestSuite@551bdc27]">EmpCanDeleteC11</td> 
  <td>main@1860250540</td>   <td></td> </tr>
<tr bgcolor="a57a95">  <td>20/01/08 16:12:28</td>   <td>112192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetUp.flushSetUp(org.testng.ITestResult)[pri:0, instance:TestSuites.ChannelsTestSuite@551bdc27]">&lt;&lt;flushSetUp</td> 
<td>&nbsp;</td>  <td>main@1860250540</td>   <td></td> </tr>
<tr bgcolor="a57a95">  <td>20/01/08 16:12:33</td>   <td>116658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetUp.setUp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:TestSuites.ChannelsTestSuite@551bdc27]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1860250540</td>   <td></td> </tr>
<tr bgcolor="9af799">  <td>20/01/08 16:12:57</td>   <td>140516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChannelsTestSuite.EmpCanEditC12()[pri:3, instance:TestSuites.ChannelsTestSuite@551bdc27]">EmpCanEditC12</td> 
  <td>main@1860250540</td>   <td></td> </tr>
<tr bgcolor="a57a95">  <td>20/01/08 16:13:24</td>   <td>167329</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetUp.flushSetUp(org.testng.ITestResult)[pri:0, instance:TestSuites.ChannelsTestSuite@551bdc27]">&lt;&lt;flushSetUp</td> 
<td>&nbsp;</td>  <td>main@1860250540</td>   <td></td> </tr>
<tr bgcolor="a57a95">  <td>20/01/08 16:13:28</td>   <td>171444</td> <td title="&lt;&lt;SetUp.sendStatusToSlack()[pri:0, instance:TestSuites.ChannelsTestSuite@551bdc27]">&lt;&lt;sendStatusToSlack</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1860250540</td>   <td></td> </tr>
</table>
