<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>WorkJam</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="88d3aa">  <td>19/12/27 17:01:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChannelsTestSuite.EmpCanDeleteC11()[pri:2, instance:TestSuites.ChannelsTestSuite@309e345f]">EmpCanDeleteC11</td> 
  <td>main@1285524499</td>   <td></td> </tr>
<tr bgcolor="88d3aa">  <td>19/12/27 17:01:49</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChannelsTestSuite.EmpCanEditC12()[pri:3, instance:TestSuites.ChannelsTestSuite@309e345f]">EmpCanEditC12</td> 
  <td>main@1285524499</td>   <td></td> </tr>
<tr bgcolor="88d3aa">  <td>19/12/27 17:01:49</td>   <td>-363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChannelsTestSuite.EmpCanPostC10()[pri:1, instance:TestSuites.ChannelsTestSuite@309e345f]">EmpCanPostC10</td> 
  <td>main@1285524499</td>   <td></td> </tr>
<tr bgcolor="aa89a6">  <td>19/12/27 17:01:49</td>   <td>-28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetUp.flushSetUp(org.testng.ITestResult)[pri:0, instance:TestSuites.ChannelsTestSuite@309e345f]">&lt;&lt;flushSetUp</td> 
<td>&nbsp;</td>  <td>main@1285524499</td>   <td></td> </tr>
<tr bgcolor="aa89a6">  <td>19/12/27 17:01:49</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetUp.flushSetUp(org.testng.ITestResult)[pri:0, instance:TestSuites.ChannelsTestSuite@309e345f]">&lt;&lt;flushSetUp</td> 
<td>&nbsp;</td>  <td>main@1285524499</td>   <td></td> </tr>
<tr bgcolor="aa89a6">  <td>19/12/27 17:01:49</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetUp.flushSetUp(org.testng.ITestResult)[pri:0, instance:TestSuites.ChannelsTestSuite@309e345f]">&lt;&lt;flushSetUp</td> 
<td>&nbsp;</td>  <td>main@1285524499</td>   <td></td> </tr>
<tr bgcolor="aa89a6">  <td>19/12/27 17:01:33</td>   <td>-16612</td> <td title="&gt;&gt;SetUp.reportGeneration()[pri:0, instance:TestSuites.ChannelsTestSuite@309e345f]">&gt;&gt;reportGeneration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1285524499</td>   <td></td> </tr>
<tr bgcolor="aa89a6">  <td>19/12/27 17:01:33</td>   <td>-16363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetUp.setUp()[pri:0, instance:TestSuites.ChannelsTestSuite@309e345f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1285524499</td>   <td></td> </tr>
<tr bgcolor="aa89a6">  <td>19/12/27 17:01:49</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetUp.setUp()[pri:0, instance:TestSuites.ChannelsTestSuite@309e345f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1285524499</td>   <td></td> </tr>
<tr bgcolor="aa89a6">  <td>19/12/27 17:01:49</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetUp.setUp()[pri:0, instance:TestSuites.ChannelsTestSuite@309e345f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1285524499</td>   <td></td> </tr>
</table>
