<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9788f3">  <td>20/01/08 15:02:22</td>   <td>0</td> <td title="&gt;&gt;SetUp.reportGeneration()[pri:0, instance:TestSuites.ChannelsTestSuite@78a2da20]">&gt;&gt;reportGeneration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@921760190</td>   <td></td> </tr>
<tr bgcolor="e88894">  <td>20/01/08 15:02:22</td>   <td>231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChannelsTestSuite.EmpCanDeleteC11()[pri:2, instance:TestSuites.ChannelsTestSuite@78a2da20]">EmpCanDeleteC11</td> 
  <td>main@921760190</td>   <td></td> </tr>
<tr bgcolor="9788f3">  <td>20/01/08 15:02:22</td>   <td>239</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetUp.flushSetUp(org.testng.ITestResult)[pri:0, instance:TestSuites.ChannelsTestSuite@78a2da20]">&lt;&lt;flushSetUp</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="9788f3">  <td>20/01/08 15:02:22</td>   <td>302</td> <td title="&lt;&lt;SetUp.sendStatusToSlack()[pri:0, instance:TestSuites.ChannelsTestSuite@78a2da20]">&lt;&lt;sendStatusToSlack</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@921760190</td>   <td></td> </tr>
</table>
